#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #181818;
  direction: ltr;
}

#app.flipped {
  flex-direction: row-reverse;
}

#markdown-editor, #printable {
  width: 50%;
  height: 100vh;
  background-color: #181818;
  padding: 1rem;
}

#markdown-editor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#markdown-editor textarea {
  width: 100%;
  flex: 1;
  background-color: transparent;
  border: 2px solid #181818;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 1rem;
  color: #aaa;
  background-color: #363636;
  resize: none;
  box-sizing: border-box;
  box-shadow: 1px 1px 17px #181818;
  scrollbar-width: thin;
  scrollbar-color: #a2a2a2 #282828;
  font-size: 1.2rem;
}

.controls {
  display: flex;
  gap: 1rem;
}

.controls button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #363636;
  color: white;
  transition: background-color 100ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.controls button:hover {
  background-color: #282828;
}

.controls button:active {
  background-color: #101010;
}

#printable .content {
  font-family: Rubik;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 1rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #a2a2a2 #282828;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #2c3e50;
  margin-bottom: 1rem;
}

.content p {
  margin-bottom: 0.6rem;
}

.content ul {
  margin-bottom: 0.6rem;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: left;
}

.content table th, .content table td {
  padding: 0.7rem 1rem;
  border: 0.1rem solid #dddddd;
}

.content table thead tr {
  background-color: #2c3e50;
  color: white;
}

.content table tbody tr {
  border-bottom: 0.1rem solid #dddddd;
}

.content table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content table tbody tr:last-of-type {
  border-bottom: 0.1rem solid #2c3e50;
}

p {
  color: #34495e;
  margin-bottom: 1rem;
}

code {
  background-color: #e1e1e1;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  display: inline-block;
}

pre {
  background-color: #e1e1e1;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  direction: ltr;
  text-align: left;
}

hr {
  margin: 1.5rem;
}

svg.icon {
  width: 25px;
  height: 25px;
}

svg.icon .icon-fill {
  fill: white;
}

svg.icon .icon-stroke {
  stroke: white;
}

@media print {
  #markdown-editor {
    display: none;
  }

  #printable {
    width: 100vw;
    padding: 0;
    background-color: #fff;
  }

  #printable .content {
    overflow-y:visible;
  }
}